serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial
set timeout=1
menuentry "MOOS Native Installer (experimental)" {
    echo "MOOS Native Installer disk boot (GRUB)"
    search --no-floppy --fs-uuid --set=root 4D4F-4F54
    linux /bzImage console=ttyS0,115200 moos.installer=PARTUUID=4d4f4f53-0000-4000-9000-000000000002
    initrd /rootfs.cpio.gz
}
