# N1 boot artifact only. No installer, persistent DATA or A/B update semantics.
image native-boot.vfat {
    vfat {
        extraargs = "--invariant -i 4d4f4f53"
        file EFI { image = "efi-part/EFI" }
        file boot/grub/grub.cfg { image = "native-grub.cfg" }
        file bzImage { image = "bzImage" }
    }
    size = 16M
}

image moos-native-x86_64.img {
    hdimage {
        partition-table-type = "mbr"
        disk-signature = 0x4d4f4f53
    }
    partition mbr {
        in-partition-table = false
        image = "boot.img"
        offset = 0
        size = 512
        holes = { "(440; 512)" }
    }
    partition grub {
        in-partition-table = false
        image = "grub.img"
        offset = 512
        size = 1048064
    }
    partition BOOT {
        partition-type = 0xef
        bootable = true
        offset = 1M
        image = "native-boot.vfat"
    }
    partition SYSTEM_A {
        partition-type = 0x83
        image = "rootfs.ext2"
    }
}
