# N2 distribution prototype. Fixed GPT IDs are not per-install identities.
image native-boot.vfat {
    vfat {
        extraargs = "--invariant -i 4d4f4f53"
        file EFI { image = "efi-part/EFI" }
        file boot/grub/grub.cfg { image = "native-grub.cfg" }
        file bzImage { image = "bzImage" }
    }
    size = 16M
}

image moos-native-x86_64.img {
    size = 171M
    hdimage {
        partition-table-type = "gpt"
        disk-uuid = "4d4f4f53-0000-4000-8000-000000000000"
        align = 1M
    }
    partition BIOS_GRUB {
        partition-type-uuid = "21686148-6449-6e6f-744e-656564454649"
        partition-uuid = "4d4f4f53-0000-4000-8000-000000000001"
        offset = 1M
        size = 1M
    }
    partition BOOT {
        partition-type-uuid = U
        partition-uuid = "4d4f4f53-0000-4000-8000-000000000002"
        image = "native-boot.vfat"
    }
    partition SYSTEM_A {
        partition-type-uuid = L
        partition-uuid = "4d4f4f53-0000-4000-8000-000000000003"
        image = "rootfs.ext2"
    }
    partition SYSTEM_B {
        partition-type-uuid = L
        partition-uuid = "4d4f4f53-0000-4000-8000-000000000004"
        size = 60M
        fill = true
        no-automount = true
    }
    partition DATA {
        partition-type-uuid = L
        partition-uuid = "4d4f4f53-0000-4000-8000-000000000005"
        image = "native-data.ext4"
    }
}
