serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial
set default=0
set timeout=1

menuentry "MOOS Native (release)" {
    echo "MOOS Native disk boot (GRUB)"
    search --no-floppy --fs-uuid --set=root 4D4F-4F53
    linux /bzImage root=PARTUUID=4d4f4f53-02 rootwait console=tty0 console=ttyS0,115200
}
